# HR Project

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import tree

In [17]:
df = pd.read_csv('hrdata.csv')
df.pop("EmployeeCount")
df.pop("EmployeeNumber")
df.pop("StandardHours")
df.pop("Over18")

0       Y
1       Y
2       Y
3       Y
4       Y
5       Y
6       Y
7       Y
8       Y
9       Y
10      Y
11      Y
12      Y
13      Y
14      Y
15      Y
16      Y
17      Y
18      Y
19      Y
20      Y
21      Y
22      Y
23      Y
24      Y
25      Y
26      Y
27      Y
28      Y
29      Y
       ..
1440    Y
1441    Y
1442    Y
1443    Y
1444    Y
1445    Y
1446    Y
1447    Y
1448    Y
1449    Y
1450    Y
1451    Y
1452    Y
1453    Y
1454    Y
1455    Y
1456    Y
1457    Y
1458    Y
1459    Y
1460    Y
1461    Y
1462    Y
1463    Y
1464    Y
1465    Y
1466    Y
1467    Y
1468    Y
1469    Y
Name: Over18, Length: 1470, dtype: object

In [18]:
X = df
y = df['Attrition']

In [19]:
X.pop('Attrition')

0       Yes
1        No
2       Yes
3        No
4        No
5        No
6        No
7        No
8        No
9        No
10       No
11       No
12       No
13       No
14      Yes
15       No
16       No
17       No
18       No
19       No
20       No
21      Yes
22       No
23       No
24      Yes
25       No
26      Yes
27       No
28       No
29       No
       ...
1440     No
1441     No
1442    Yes
1443     No
1444    Yes
1445     No
1446     No
1447     No
1448     No
1449     No
1450     No
1451     No
1452    Yes
1453     No
1454     No
1455     No
1456     No
1457     No
1458     No
1459     No
1460     No
1461    Yes
1462     No
1463     No
1464     No
1465     No
1466     No
1467     No
1468     No
1469     No
Name: Attrition, Length: 1470, dtype: object

In [20]:
y.unique()

array(['Yes', 'No'], dtype=object)

In [21]:
from sklearn import preprocessing
ban = preprocessing.LabelBinarizer()

In [22]:
y = ban.fit_transform(y)

In [23]:
df.select_dtypes(['object'])

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,OverTime
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,No
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Yes
3,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Yes
4,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,No
5,Travel_Frequently,Research & Development,Life Sciences,Male,Laboratory Technician,Single,No
6,Travel_Rarely,Research & Development,Medical,Female,Laboratory Technician,Married,Yes
7,Travel_Rarely,Research & Development,Life Sciences,Male,Laboratory Technician,Divorced,No
8,Travel_Frequently,Research & Development,Life Sciences,Male,Manufacturing Director,Single,No
9,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,No
10,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,No
11,Travel_Rarely,Research & Development,Life Sciences,Female,Laboratory Technician,Single,Yes
12,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Divorced,No
13,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Divorced,No
14,Travel_Rarely,Research & Development,Life Sciences,Male,Laboratory Technician,Single,Yes
15,Travel_Rarely,Research & Development,Life Sciences,Female,Manufacturing Director,Divorced,No
16,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Divorced,Yes
17,Non-Travel,Research & Development,Medical,Male,Laboratory Technician,Divorced,Yes
18,Travel_Rarely,Sales,Life Sciences,Female,Manager,Married,No
19,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,Yes
20,Non-Travel,Research & Development,Other,Female,Manufacturing Director,Divorced,No
21,Travel_Rarely,Sales,Life Sciences,Male,Sales Representative,Single,No
22,Travel_Rarely,Research & Development,Life Sciences,Female,Research Director,Single,No
23,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,No
24,Travel_Rarely,Research & Development,Medical,Male,Research Scientist,Single,No
25,Travel_Rarely,Research & Development,Other,Female,Manager,Divorced,No
26,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Single,Yes
27,Travel_Rarely,Sales,Marketing,Male,Sales Executive,Married,No
28,Travel_Rarely,Research & Development,Medical,Female,Healthcare Representative,Married,No
29,Travel_Rarely,Sales,Marketing,Female,Manager,Single,No
...,...,...,...,...,...,...,...
1440,Travel_Frequently,Research & Development,Life Sciences,Female,Manufacturing Director,Divorced,No
1441,Non-Travel,Research & Development,Life Sciences,Male,Healthcare Representative,Divorced,No
1442,Travel_Rarely,Research & Development,Medical,Male,Research Scientist,Married,Yes
1443,Travel_Rarely,Research & Development,Life Sciences,Male,Manager,Married,No
1444,Travel_Rarely,Research & Development,Technical Degree,Male,Laboratory Technician,Married,No
1445,Travel_Rarely,Research & Development,Life Sciences,Female,Manufacturing Director,Married,No
1446,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,No
1447,Non-Travel,Sales,Marketing,Male,Sales Executive,Divorced,No
1448,Travel_Rarely,Sales,Life Sciences,Male,Sales Executive,Divorced,No
1449,Travel_Rarely,Research & Development,Technical Degree,Male,Research Scientist,Single,No
1450,Travel_Rarely,Human Resources,Life Sciences,Female,Human Resources,Single,Yes
1451,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Married,No
1452,Travel_Frequently,Sales,Life Sciences,Male,Sales Executive,Divorced,No
1453,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,No
1454,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,No
1455,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,No
1456,Travel_Frequently,Research & Development,Life Sciences,Male,Healthcare Representative,Married,Yes
1457,Travel_Rarely,Research & Development,Medical,Female,Research Scientist,Married,No
1458,Travel_Rarely,Research & Development,Life Sciences,Female,Research Scientist,Married,No
1459,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Married,Yes
1460,Travel_Rarely,Research & Development,Medical,Female,Research Scientist,Single,No
1461,Travel_Rarely,Sales,Marketing,Male,Sales Executive,Divorced,Yes
1462,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,No
1463,Non-Travel,Research & Development,Medical,Male,Manufacturing Director,Single,No
1464,Travel_Rarely,Sales,Other,Female,Sales Representative,Single,No
1465,Travel_Frequently,Research & Development,Medical,Male,Laboratory Technician,Married,No
1466,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,No
1467,Travel_Rarely,Research & Development,Life Sciences,Male,Manufacturing Director,Married,Yes
1468,Travel_Frequently,Sales,Medical,Male,Sales Executive,Married,No
1469,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,No

In [28]:
ind_BusinessTravel = pd.get_dummies(df['BusinessTravel'],prefix='BusinessTravel')
ind_Department = pd.get_dummies(df['Department'],prefix='Department')
ind_EducationField = pd.get_dummies(df['EducationField'],prefix='EducationField ')
ind_Gender = pd.get_dummies(df['Gender'],prefix='Gender')
ind_MaritalStatus = pd.get_dummies(df['MaritalStatus'],prefix='MaritalStatus')
ind_JobRole = pd.get_dummies(df['JobRole'],prefix='JobRole')
ind_OverTime = pd.get_dummies(df['OverTime'],prefix='OverTime')

In [31]:
df_fin = pd.concat([ind_BusinessTravel,ind_Department,ind_EducationField,ind_Gender,ind_JobRole,ind_MaritalStatus,ind_OverTime,df.select_dtypes(['int64'])],axis=1)

In [33]:
df_fin.shape

(1470, 51)

# Decision tree

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_fin, y)

In [35]:
from sklearn.tree import DecisionTreeClassifier

In [36]:
clf  = DecisionTreeClassifier(random_state=42)

In [37]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [39]:
y_pred = clf.predict(X_test)
y_pred

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [40]:
from sklearn.metrics import accuracy_score, classification_report

In [41]:
accuracy_score(y_test,y_pred)

0.7961956521739131

In [43]:
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          0       0.89      0.86      0.88       312
          1       0.36      0.43      0.39        56

avg / total       0.81      0.80      0.80       368